<html>
    <style>
        #movie{
        
          width: 300px;
          height: 200px;
          border: 5px solid black;
          padding: 10px;
          margin: 10px;
        }
        #subs{
          
          border: 3px solid black;
      
        }
        </style>
    <body>
        <h1> Movies - Subscriptions Web Site </h1>
        <a href="http://localhost:3000/movies"><button>Movies</button></a>
        <a href="http://localhost:3000/subscriptions"><button>Subscriptions</button></a>   
            <% if (user) { %>
            <a href="http://localhost:3000/menu/manageUsers"><button>Users Management</button></a>
            <% } %>
         <a href="http://localhost:3000/"><button>Log Out</button></a>
        </br>

        <h1>Movies</h1>
        <a href="http://localhost:3000/movies/"><button>All Movies </button></a>
        <a href="http://localhost:3000/movies/edit/?obj=0"><button>Add Movies </button></a>

        <form action ="/movies/find" method="POST">
        Find Movie:<input type="text" name="find"><button>Find</button>
         </form> 


        <dl>
        <% data.map( v =>{ %>
         <div id=movie>

            <%var str = v.Premiered%>
            <%var n = str.split("-")%>
            <%var t = n[0]%>
          
            <dt style="margin-bottom:5px;"><b> <%= v.Name %>, <%= t %> </b></dt>
             <dt style="margin-bottom:5px;">generes: <%= v.Genres %> </dt>
             
            <dt>
                <img style="display:inline-block;width:60px;height:120px;margin-bottom:-25px;" src= <%= v.Image  %> >
                <% if(v.subscribe.length !== 0) { %> 
                    <div id="subs" style="display:inline-block;"> 
                           Subscriptions watched 
                           <ul>
                               <% v.subscribe?.map(x=> {%>
                                  <%var fullDate = x.date%>
                                  <%var k = new Date(fullDate)%>
                                   <li> <a href="http://localhost:3000/subscriptions/edit/<%= x.id %>"><%=x.Name%></a>,<%=k.getDate()%>/<%=k.getMonth()+1%>/<%=k.getFullYear()%>  </li>
                                
                                  
                                
                              <% })%>
                            </ul>
                        </div>
                        <% var obj = JSON.stringify(v) %>
                              <dd style="margin-top: 15px;"><a href="http://localhost:3000/movies/edit/?obj=<%= obj%>"><button>Edit</button></a>
                                <a href="http://localhost:3000/movies/delete/<%= v._id %>"><button>Delete</button></a></dd>
                            </br>
                            
                           <% }%>
                      
                      
            </dt> 
            <% if(v.subscribe.length === 0) { %> 
            <% var obj = JSON.stringify(v) %>
            
            <dd style="margin-top: 35px;"><a href="http://localhost:3000/movies/edit/?obj=<%= obj%>"><button>Edit</button></a>
                <a href="http://localhost:3000/movies/delete/<%= v._id %>""><button>Delete</button></a></dd>
            </br>
           <% } %> 
           </div>
            <% }) %>
        </dl>

    </body>
</html>
